html {
    padding: 0;
    margin: 0;
}
body {
    color: #E63946;
    background: #F1FAEE;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
    background: #1D3557;
    text-align: center;
    font-size: 4em;
    font-weight: 600;
}

h2 {
    color: #457B9D;
    text-align: center;
    font-size: 2.5em;
}

ul {
    font-size: 1.5em;
    font-weight: 500;
    border: 5px solid #1D3557;
    border-radius: 15px;
}

#command {
    color: #457B9D;
}

#startButton {
    background: #1D3557;
    color: #E63946;
    font-weight: 700;
}

#startButton:hover {
    background: #457B9D;
    color: #E63946;
}